* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h6.title_h6 {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #ff6600;
  text-transform: initial;
  margin: 0;
}
h3.title_h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 48px;
}
p {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #a5a2a1;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container__full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  margin: 0;
}
div {
  display: block;
}
/* HEADER */
.banner{
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(./img/banner4.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  min-height: 700px;
}
.header .box{
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}
.header .box a{
  text-decoration: none;
  color: white;
}
.header .box a h1{
  font-size: 36px;
  font-weight: 700;
}
.header .search__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}
.header .search {
  position: relative;
}
.search__input{
  padding: 10px 20px;
  background-color: white;
  width: 250px;
}
.dark .search__input{
  border: none;
  background-color: #282828;
}
.header .search i {
  position: absolute;
  right: 10px;
  top: 13px;
}
.dark .header .search i{
  color: white;
}
.header .search i:hover {
  cursor: pointer;
}
.theme__box .theme i {
  font-size: 25px;
  font-weight: 500;
}
.search__box .menu a{
  color: white;
}
.search__box .menu i {
  font-size: 30px;
  font-weight: 700;
}
.banner__info{
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}
.banner__info h3{
  font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Quicksand", sans-serif;
    color: #fff;
}
.banner__info p{
  color: white;
}
.banner__info a{
  padding: 12px 45px;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s;
}
.banner__info a:hover{
  background-color: white;
  color: #ff6600;
}

/* ABOUT__US */
.about__us p {
  color: rgba(22, 2, 45, 0.7);
}
.dark .about__us{
  background-color: #232220;
}
/* NO_NAME */
.noname {
  background-color: #ff6600;
}
.noname .row {
  justify-content: center;
  align-items: center;
}
.noname p {
  color: white;
}
.noname__left .img {
  background: url(./img/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}
.noname__left .img::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.noname__right .right__box h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: "Pacifico", cursive;
  color: white;
}
.noname__right .subscribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
}
.noname__right .subscribe i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 6px;
  background-color: white;
  color: #ff6600;
  font-size: 25px;
  transition: 0.3s;
}
.subscribe a {
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
}

.best:hover i {
  color: #ffc600;
}
/* CATEGORIES */
.dark .categories{
  background-color: #232220;
}
.categories__img {
  position: relative;
}
.categories__img img {
  width: 100%;
  display: block;
  border-radius: 6px;
  transition: 0.3s;
  position: relative;
}
.categories__img a::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  cursor: default;
  border-radius: 0 0 6px 6px;
}
/* .categories__img img:hover {
  opacity: 0.85;
} */
.categories .edit {
  position: relative;
}
.categories__info {
  padding: 30px 50px;
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.categories__info a {
  text-decoration: none;
  color: white;
}
.categories__info h6 {
  color: #ffc600;
  font-size: 18px;
  font-weight: 600;
}
/* SERVICES */
.services {
  padding: 48px 0;
}
.services .col {
  padding: 0 15px;
}
.services__box {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 40px;
  transition: 0.3s;
}
.dark .services__box{
  border: 1px solid rgb(165, 162, 161, 0.4);
}
.services__box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.services__title {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}
.services__title i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  color: #ff6600;
  background-color: #f9f8ff;
  border-radius: 6px;
  transition: 0.5s;
}
.dark .services__title i{
  background-color: #454545;
}
.services__box:hover i {
  background-color: #ff6600;
  color: white;
}
.services__title p {
  color: rgba(22, 2, 45, 0.7);
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}
.services__title h4 {
  margin-top: 3px;
  transition: 0.3s;
}
.dark .services__title h4{
  color: white;
}
.services__title h4:hover {
  color: #ff6600;
  cursor: pointer;
}
.services__content {
  color: rgba(22, 2, 45, 0.7);
  margin: 16px 0 0 0;
}
/* MIDDEL */
.middle {
  background-image: url(./img/banner2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.middle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: -1;
}
.middle__box {
  max-width: 700px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3.middle-title {
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  max-width: 800px;
  margin: 0;
}
.middle-buttons a:nth-of-type(1) {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: 1s;
}
.middle-buttons a:nth-of-type(1):hover {
  background-color: white;
  color: #ff6600;
}
.middle-buttons a:nth-of-type(2) {
  background-color: #ff6600;
  border: 1px solid #ff6600;
  transition: 1s;
}
.middle-buttons a:nth-of-type(2):hover {
  opacity: 0.6;
}
.btn-style {
  padding: 12px 45px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid;
}
/* STATS */
.stats {
  position: relative;
  margin-top: -70px;
  z-index: 1;
}
.stats__box__item {
  padding: 0 15px;
}
.stats__item {
  padding: 40px 20px;
  border: none;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  transition: 0.3s;
}
.dark .stats__item{
  background-color: #282828;
}
.stats__item:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.stats__icon {
  width: 68px;
  height: 68px;
  line-height: 68px;
  background-color: #ff6600;
  color: #fff;
}
.stats__icon i {
  font-size: 26px;
}
.stats__number {
  font-size: 40px;
  font-weight: 600;
}
.dark .stats__number{
  color: white;
}
.stats__footer {
  color: rgb(22 28 45 / 70%);
  font-weight: 600;
  font-size: 17px;
  margin: 0;
}
/* VIDEO */
.video__info {
  background-image: url(../img/image-video.jpg);
  width: 100%;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.video__info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  z-index: -1;
}
.video__play__icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
  color: var(--primary-color);
  border: transparent;
  background: #fff;
  color: #ff6600;
}
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}
/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
/* BLOG */
.blogposts {
  background-color: #f7f7f7;
}
.dark .blogposts{
  background-color: #282828;
}
.blog__card__header {
  position: relative;
}

.blog__card__header img {
  width: 100%;
  border-radius: 6px;
}
.blog__card__header__contents {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
.blog__card__header__contents a {
  background-color: #ff6600;
  padding: 3px 20px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
}
.blog__card__header__contents span {
  font-size: 15px;
  font-weight: 400;
}
.fa-clock-o:before {
  content: "\f017";
}
.blog__card__body a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
}
.dark .blog__card__body a{
  color: white;
}
.blog__card__body p {
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 2, 45, 0.7);
}
.blog__card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dark .blog__card__footer a{
  color: white;
}
.blog__card__footer a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.blog__card__footer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.blog__card__footer__right {
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
}
.dark .blog__card__footer__right{
  color: white;
}
.blog__card__footer__right:hover {
  color: #ff6600;
  cursor: pointer;
}
.blog__card__footer__right span {
  font-size: 15px;
}
/* TESTIMONIALS */
.dark .testimonials{
  background-color: #282828;
}
.tesimonials__content {
  max-width: 700px;
  margin: auto;
}
.tesimonials__content a {
  height: 100px;
}
.tesimonials__content p {
  font-size: 18px;
}
.owl-carousel .owl-item img {
  width: 85px;
}
.tesimonials__content a img {
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
}
blockquote q {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
}
.dark blockquote q{
  color: white;
}
blockquote q::before {
  font-size: 50px;
  color: #ff6600;
  display: block;
  font-weight: 800;
  height: 50px;
  font-family: initial;
}
blockquote q::after {
  content: close-quote;
}
.tesimonials__content h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
.dark .tesimonials__content h3{
  color: #a5a2a1;
  opacity: 0.2;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color: #ff6600;
}
/* FOOTER */
footer {
  background-color: black;
}
footer h2 a.navbar-brand {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
footer h2 a.navbar-brand:hover {
  color: #ff6600;
}
footer a:hover {
  color: #ff6600;
}
footer a.edit {
  color: #a5a2a1;
  text-decoration: none;
  font-size: 17px;
}
footer a.edit:hover {
  color: #ff6600;
}
footer h6 {
  color: white;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}
.footer_logo {
  text-align: center;
  color: #ff6600;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  background-color: white;
  display: inline-block;
  margin-right: 10px;
}

.dark a.footer_logo{
  background-color: #232220;
  color: #a5a2a1;
}
.dark .footer_logo:hover{
  color: #ff6600;
}
footer li {
  list-style: none;
  margin-bottom: 10px;
}
footer p {
  font-size: 17px;
  line-height: 26px;
}
footer #input {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: #a5a2a1;
  border-radius: 6px;
  background-color: white;
  font-family: "Quicksand", sans-serif;
}
.dark footer #input{
  background-color: #232220;
}
footer .btn-primary {
  background-color: #ff6600;
  border: none;
  transition: 0.3s;
  padding: 15px 20px;
}
footer .btn-primary:hover {
  background-color: #ff6600;
  opacity: 0.8;
}
.footer_end {
  background-color: black;
  border-top: 1px solid rgb(255 255 255 / 5%);
  padding:0px 10px;
}
.footer_end .edit,
.footer_end li {
  align-items: center;
  line-height: 30px;
}
.footer_end li {
  list-style: none;
}
.footer_end a {
  text-decoration: none;
  color: #a5a2a1;
}
.footer_end a:hover {
  color: #ff6600;
}
.footer_end_left {
  color: #f7f7f7;
  font-size: 17px;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
.footer_end_left a {
  color: #ff6600;
}
.footer_end_left a:hover{
  color: white;
}
/* THEME */
/* THEME */
/* Light theme */
/* #myBody {
  background-color: white;
}
#switchButton {
  background-color: white;
} */
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
  color: white;
}

/* Dark Theme*/
.dark#myBody {
  background-color: black;
}
/* .dark #switchButton {
  background-color: black;
} */
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}
.dark h3.title_h3{
  color: #a5a2a1;
    opacity: 0.2
}
.dark p {
  color: #99a3aa;
}
.noname .noname__right .right__box h3{
  color: black;
  opacity: 1;
}
.noname .noname__right .right__box p{
  color: white;
}

/* ANIMATE */
/* <!-- animate play__video --> */
@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container__full {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1080px) {
  h3.title_h3 {
    font-size: 32px;
    line-height: 40px;
  }
  h3.middle-title {
    font-size: 40px;
    line-height: 50px;
    max-width: 100%;
  }
  .services__title .info h4 {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .footer_end_left{
    text-align: center;
  }
  .banner__info h3 {
    font-size: 44px;
    line-height: 53px;
  }
  .noname__left .img {
    min-height: 200px;
    display: block;
  }
  .video__info {
    min-height: 400px;
  }
  .blog__card__body a {
    font-size: 20px;
  }
  .blog__card__body p {
    font-size: 16px;
  }
  .footer__logo__box {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .banner{
    min-height: 600px;
    margin-top: 60px;
  }
  .banner{
    min-height: 600px;
    margin-top: 60px;
  }
  .banner__info h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .categories__info {
    padding: 15px 40px;
  }
  .middle h3.middle-title {
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 600px) {
  .search{
    display: none;
  }
  h3.title_h3 {
    font-size: 30px;
    line-height: 38px;
  }
  .noname .noname__right h6 {
    font-size: 16px;
  }
  h6.title_h6 {
    font-size: 16px;
  }
  h3.title_h3 {
    font-size: 30px;
    line-height: 38px;
  }
  p {
    font-size: 16px;
  }
}
@media (max-width: 486px) {
  .banner__info{
    max-width: 500px;
    margin-top: 30px;
  }
  h3.title_h3 {
    font-size: 26px;
    line-height: 36px;
  }
  .middle a {
    padding: 10px 21px;
  }
  .banner__info h3{
    font-size: 28px;
    line-height: 38px;
  }
}
